body{
    font-family: 'Staatliches', cursive;
    margin: 10px;
}

.c-orange{
    color: orange;
}

.section-1{
    display: flex;
}

.helf{
    width: 50%;
    padding-left: 30px;
    margin-bottom: 150px;
}

h1{
    font-size: 50px;
}

.ing-s1{
    width: 70%;
}

.btn-1{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 50px;
    font-weight: 700;
    color: white;
}

.section-2{
    display: flex;
    background-image: url(images/shapes/bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-3{
    margin: 0 100px;
    margin-bottom: 100px;
}

.she3-ad{
    text-align: center;
}
.s3-menu{
    display: flex;
    width: 100%;
    padding-left: 30px;
}

.menu-1, .menu-2, .menu-3{
    margin: 25px;
    padding: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 30px;
}

.menu-img{
    width: 100%;
    border-radius: 30px;
}

/* section-4 */

.section-4{
    margin-bottom: 300px;
}

.s4-main{
    margin: 50px;

    display: flex;

    align-items: center;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.social{
    padding: 30px;
}

.social h1{
    font-weight: 700;
}

.footer{
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 200px;
    text-align: center;
}

.footer h3{
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
}

.footer p{
    color: white;
    text-align: center;
}

.color-light-black{
    color: rgba(217, 241, 241, 0.342);
}